{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>{{ user.username }}</h1>
	<a href="{% url 'logout' %}">Logout</a>
	{% for file in files %}
		<h2>{{ file.filename }} {{ file.filetype }} {{ file.file }}</h2>
	{% endfor %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
	<script text="text/javascript">
		let _key = CryptoJS.enc.Utf8.parse(' ');
		let _iv = CryptoJS.enc.Utf8.parse(' ');
		let encrypted = CryptoJS.AES.encrypt(
			'Don"t sleep Arpit', _key, {
			keySize: 16,
			iv: _iv,
			mode: CryptoJS.mode.ECB,
			padding: CryptoJS.pad.Pkcs7
		});
		console.log(encrypted.toString())

		decrypted = CryptoJS.AES.decrypt(
			'/T6hg7YhQ+Nxl55IXgUfY87casYzNTn0UB25rEIAwwA=', _key, {
			keySize: 16,
			iv: _iv,
			mode: CryptoJS.mode.ECB,
			padding: CryptoJS.pad.Pkcs7
		}).toString(CryptoJS.enc.Utf8);
		console.log(decrypted);
	</script>
</body>
</html>